.product-height {
  height: 150px;
}
.product-h {
  height: 300px;
}

h4 {
  line-height: 0;
}

.bg-banner {
  background-image: url("/src/img/wave\ .svg");
  background-size: cover;
  height: 100px;
}
.bg-banner-top {
  background-image: url("/src/img/wave\ \(2\).svg");
  background-size: cover;
  background-repeat: none;
}

.bg-navbar {
  background-color: #f46f3b;
  color: white;
}

.web-color {
  color: #f46f3b;
}

.top-bg {
  background-image: url("/src/img/tob-bg.svg");
  background-size: cover;
  height: auto;
}

.bg-height {
  height: 200px;
}

.bg-dashboard {
  background-image: url("/src/img/dashboard.svg");
  background-size: cover;
  width: 100%;
  background-repeat: none;
}

.bg-footer {
  background-image: url("/src/img/footer.svg");
  height: 200px;
  background-size: cover;
  background-repeat: none;
}
